.leftbar {
    float: left;
    width: 50%;
    height: 1080px;
    background-color: #97caef;
}
.rightbar {
    float: right;
    width: 50%;
    height: 100%;
    background-color: grey;
}

ul.ul_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li.li_menu {
    float: left;
}
li.li_menu a{
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 30px;
}
li a:hover {
    background-color: #111;
}

li img{
    margin-top: 10px;
    margin-left: 15px;
    max-width: 150px;
    float: none;
}

ul.ul_krizovatky {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}
li.li_krizovatky {
    float: none;
}
li.li_krizovatky a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}