ul.ul_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li.li_menu {
    float: left;
}
li.li_menu a{
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 30px;
}
li.li_menu a:hover {
    background-color: #111;
}
li.li_menu2 {
    float: left;
}
li.li_menu2 a{
    background-color: #111;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 30px;
}

h1{
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
}
header{
    background-color: #333;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu{
    padding-top: 100px;
    text-align: center;
}
.obrazok{
    height: 400px;
    width: auto;
    filter: grayscale(100%);
}
.obrazok1:hover {
    transition: filter 1s ease-in-out;
    filter: grayscale(0);

}
.obrazok2:hover {
    transition: filter 1s ease-in-out;
    filter: grayscale(0);
}
.counter{
    font-size: 30px;
    margin-left: 35%;
}
#CounterVisitor{
    margin-left: 22%;
}
@media print{
    header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
        display: block;
    }
    ul.ul_menu {
        background-color: white;
    }
    li.li_menu a {

        color:black;
        border: 2px solid;
    }
    li a:hover {
        background-color: white;
        border:none;
    }
    li.li_menu a:hover {
        background-color: white;
    }
    li.li_menu2 a:hover {
        background-color: white;
        border:none;
    }
    li.li_menu2 a{
        background-color: white;
        border:2px solid;
        color:black;
        text-decoration: underline;
    }
    body{
        background-color: white;
        width: 100%;
    }
    h1{
        background-color: white;
        font-size: 15pt;
        color: black;
    }
    header{
        background-color: white;
    }
    .counter{
        margin-left: 40%;
    }
}
