.leftbar {
    float: left;
    width: 50%;
    height: 100%;
    background-color: grey;
}
.rightbar {
    float: right;
    width: 50%;
    height: 100%;
    background-color: grey;
}

ul.ul_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li.li_menu {
    float: left;
}
li.li_menu a{
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 30px;
}
li.li_menu a:hover {
    background-color: #111;
}
li.li_menu2 {
    float: left;
}
li.li_menu2 a{
    background-color: #111;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 30px;
}

li img{
    margin-top: 10px;
    margin-left: 15px;
    max-width: 150px;
    float: none;
}

ul.ul_krizovatky {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    padding-bottom: 20px;
}
li.li_krizovatky {
    float: none;
    color: lightgrey;
    display: flex;
    align-items: center;
    text-align: left;
}
li.li_krizovatky a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    width: 200px;
}
li.li_krizovatky a:hover {
    color:black;
}

@media print{
    header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
        display: block;
    }
    .rightbar{
        background-color: white;
    }
    ul.ul_menu {
        background-color: white;
    }
    li.li_menu a {

        color:black;
        border: 2px solid;
    }
    li a:hover {
        background-color: white;
        border:none;
    }
    li.li_menu2 a:hover {
        background-color: white;
        border:none;
    }
    li.li_menu2 a{
        background-color: white;
        border:2px solid;
        color:black;
        text-decoration: underline;
    }
    li.li_menu a:hover {
        background-color: white;
    }
    ul.ul_krizovatky {
        background-color: white;
    }
    li.li_krizovatky {
        color:black;
    }
    li.li_krizovatky a{
        color:black;
    }
    li.li_krizovatky a:hover {
        border:2px solid;
    }
}
