
body{
    background: url("krizovatka15.svg");
    background-repeat: no-repeat;
}

#anime-demo{
    position: relative;
}

.auto {
    position: absolute;

}
.elektricka {
    position: absolute;
}

#dovodtest{
    visibility: hidden;
    background-color: white;

}

#dalsiakrizovatka{
    visibility: hidden;
}




