/*.box{*/
/*    position: relative;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    margin: 4px;*/
/*    display:inline-block;*/
/*}*/

body{
    background: url("kriz1opt.svg");
    background-repeat: no-repeat;

}

#anime-demo{
    position: relative;
}

.box {
    position: absolute;

}







/*.red{background-color: red}*/
/*.blue{background-color: blue}*/
/*.green{background-color: green}*/
/*.yellow{background-color: yellow}*/