
body{
    background: url("krizovatka1.svg");
    background-repeat: no-repeat;
}

#anime-demo{
    position: relative;
}

.auto {
    position: absolute;
}

#dovodtest{
    visibility: hidden;
}

#dalsiakrizovatka{
    visibility: hidden;
}



